@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "apercu-pro";
  font-weight: 300;
  src: url("/assets/fonts/ApercuPro-Light.woff") format("woff");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  color: rgb(25, 25, 25);
  font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

.flex-1-1-10 {
  flex: 1 1 10%;
}

.grid-row-1 {
  grid-row: first;
}

.grid-area-3-1 {
  grid-area: third / first;
}

.grid-area-2 {
  grid-area: second;
}

.grid-col-2 {
  grid-column: second;
}

.grid-cols-custom {
  grid-template-columns: [first] 0px [second] auto;
}

.grid-rows-custom {
  grid-template-rows: [first] 52px [second] auto [third] 52px;
}

.bg-check-white-svg {
  background: url("/assets/white-checked.svg") 50% 4px no-repeat;
}
